# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Next.js
.next
out

# Java / Maven
backend/target
backend/.mvn/wrapper/maven-wrapper.jar.sha1

# Env
.env
.env.*

# OS
.DS_Store
